<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>www.flybrownfield.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"
	media="screen" />
</head>
<body>
	<nav>
		<ul>
			<li>BrownField Airline</li>
			<li><a th:href="@{/}">Search</a></li>
			<li><a th:href="@{/search-booking}">CheckIn</a></li>
		</ul>
	</nav>
	<div align="center" class="form-style-8">
		<h2>Check In Confirmation</h2>
		<div align="center" style="color: green">
			<h3 th:text="${message}"></h3>
		</div>
		<div align="center" style="color: green">
			<h3 th:text="${baggageMessage}"></h3>
			<p style="color:red;">Please access into H2 DB for more details or use post man to check the record</p>
		</div>
	</div>
</body>
</html>